a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 20px 0;
    background-color: cornflowerblue;
}
.mesis ul li {
    display: inline-block;
    color: white;
    margin-right: 15px;
}

.mesis ul ul li { 
    display: inline-block;
    color: black;
    float: right;
    padding-right: 10px;
}
.mesis ul li b:hover{
    display:inline-block;
    color:green;
    background:none;
    position: relative;
}
.mesis ul li .menu{
    display: none;
}
.mesis ul li:hover .menu{
    display:inline-block;
    background: none;
    position:sticky;
    margin-right: 20px;
}
.mesis ul li:hover .menu li{
    display:inline-block;
}
.medsos ul ul li ul li{
    margin-right: 7px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
header h1{
    float: left;
    margin-top: 0px;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}